LabBooks/Rapport_M2b/Appendices/AppendixA.aux
LabBooks/Rapport_M2b/Appendices/AppendixB.aux
LabBooks/Rapport_M2b/Chapters/Discussion.aux
LabBooks/Rapport_M2b/Chapters/Introduction.aux
LabBooks/Rapport_M2b/Chapters/Materiel_methode.aux
LabBooks/Rapport_M2b/Chapters/Resultats.aux
LabBooks/Rapport_M2b/main-blx.bib
LabBooks/Rapport_M2b/main.aux
LabBooks/Rapport_M2b/main.bbl
LabBooks/Rapport_M2b/main.blg
LabBooks/Rapport_M2b/main.log
LabBooks/Rapport_M2b/main.out
LabBooks/Rapport_M2b/main.pdf
LabBooks/Rapport_M2b/main.run.xml
LabBooks/Rapport_M2b/main.synctex.gz
LabBooks/Rapport_M2b/main.toc
Notebooks/regression_couples.pt
LabBooks/debug.log
Notebooks/.ipynb_checkpoints/
Notebooks/MNIST_data/
Notebooks/debug.log
LabBooks/.ipynb_checkpoints/
